.Items{   
    height:600px;
    background-color:lightgray;

}

#ShoppingCart {   
    margin:auto;
    width:80%;
    border-style:solid;
    border-color:black;
    text-align: center;
}

.cart{
    background-color:lightgray;
}

.grid{
    display:grid;
    grid-template-columns: auto auto auto;
}
