.items{

    width:33.3%;
    height:600px;
    float:left;

    background-color:lightgray;
}

#shoppingCart {
    text-align: center;
    margin:auto;
    width:80%;
}

.cart{
    background-color:lightgray;
}
